<!DOCTYPE html>
<html lang="en">
    <meta charset="{{charset}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{wp_title}}</title>
    {{wp_head}}
    <body class="{{body_class}}">
        <header role="navigation" aria-label="Site Header" class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col col-12 d-flex justify-content-center align-items-center">
                        logo here
                    </div>
                </div>
            </div>
        </header>