%merriweather-light {
    font-family: 'Merriweather Sans Light', sans-serif;
}

%merriweather-light-italic {
    font-family: 'Merriweather Sans Light Italic', sans-serif;
}

%merriweather-regular {
    font-family: 'Merriweather Sans Regular', sans-serif;
}

%merriweather-regular-italic {
    font-family: 'Merriweather Sans Regular Italic', sans-serif;
}

%merriweather-medium {
    font-family: 'Merriweather Sans Regular', sans-serif;
}

%merriweather-medium-italic {
    font-family: 'Merriweather Sans Regular Italic', sans-serif;
}

%merriweather-semibold {
    font-family: 'Merriweather Sans SemiBold', sans-serif;
}

%merriweather-semibold-italic {
    font-family: 'Merriweather Sans SemiBold Italic', sans-serif;
}

%merriweather-bold {
    font-family: 'Merriweather Sans Bold', sans-serif;
}

%merriweather-bold-italic {
    font-family: 'Merriweather Sans Bold Italic', sans-serif;
}

%merriweather-extrabold {
    font-family: 'Merriweather Sans ExtraBold', sans-serif;
}

%merriweather-extrabold-italic {
    font-family: 'Merriweather Sans ExtraBold Italic', sans-serif;
}

%cormorant-light {
    font-family: 'Cormorant Infant Light';
}

%cormorant-light-italic {
    font-family: 'Cormorant Infant Light Italic';
}

%cormorant-regular {
    font-family: 'Cormorant Infant Regular';
}

%cormorant-regular-italic {
    font-family: 'Cormorant Infant Regular Italic';
}

%cormorant-medium {
    font-family: 'Cormorant Infant Medium';
}

%cormorant-medium-italic {
    font-family: 'Cormorant Infant Medium Italic';
}

%cormorant-semibold {
    font-family: 'Cormorant Infant SemiBold';
}

%cormorant-semibold-italic {
    font-family: 'Cormorant Infant SemiBold Italic';
}

%cormorant-bold {
    font-family: 'Cormorant Infant Bold';
}

%cormorant-bold-italic {
    font-family: 'Cormorant Infant Bold Italic';
}