<main class="container-fluid container--login">
    <div class="row row--login">
        <div class="col col-12 col-md-8 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center col--login">
            <form id="login" name="form" action="{{site_url}}/login/" method="post" class="d-flex flex-column justify-content-center align-items-center">
                <label for="username" class="mb-5">
                    <div class="input-wrapper">
                        <input id="username" type="text" placeholder="Username" name="username">  
                    </div>
                </label>
                <label for="password" class="mb-5">
                    <div class="input-wrapper">
                        <input id="password" type="password" placeholder="Password" name="password">  
                    </div>
                </label>
                <label for="submit">
                    <button id="submit" type="submit" name="submit" value="Submit" class="button">{{source('assets/icons/icon-gate.svg')}} Login</button>
                </label>
            </form>
        </div>
        <div class="col col-12 col-md-4 col-lg-6 col-xl-7 col--login-image">
            image
        </div>
    </div> 
</main>