@font-face {
    font-family: 'Cormorant Infant Light';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Infant Light Italic';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Infant Regular';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Infant Regular Italic';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Infant Medium';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Infant Medium Italic';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Infant SemiBold';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Infant SemiBold Italic';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Infant Bold';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Infant Bold Italic';
    src: url('../assets/fonts/cormorant-infant/CormorantInfant-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}