@import 'utilities/standard';

@import 'global/inputs';

.container--login .row--login {
    height: calc(100vh - #{$header-height});
}

.col--login-image {
    display: none;
    @include breakpoint(tablet) {
        display: block;
    }
}